[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 300
startCommand = "/docker-entrypoint.sh"
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
